@font-face {
    font-family: OpenSans Light;
    src: url("../fonts/opensanslight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy ExtraBold;
    src: url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy Light;
    src: url("../fonts/gilroylight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    width: 1160px;
    padding: 0;
    margin: 0 auto;
}
header{
    margin: 40px auto 0;
    height: 299px;
    background: #f7e296;
    padding-top: 50px;
}
.headerMiniMenu,
.footerMiniMenu{
    font-size: 15px;
    font-family: OpenSans Light;
    list-style-position: inside;
}
.headerSearch{
    list-style-image: url(../icons/header/search.png);
}
.headerUser{
    list-style-image: url(../icons/header/user.png);
}
.footerUser{
    list-style-image: url(../icons/footer/user.png);
}
.headerCompare{
    list-style-image: url(../icons/header/compare.png);
}
.footerCompare{
    list-style-image: url(../icons/footer/compare.png);
}
.headerCart{
    list-style-image: url(../icons/header/cart.png);
}
.footerCart{
    list-style-image: url(../icons/footer/cart.png);
}
.headerSecondMenu,
.footerSecondMenu{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 40px;
}
.slideImage{
    text-align: center;
}
.tagline{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
}
.description{
    font-size: 15px;
    font-family: OpenSans Light;
    margin: 30px auto;
    line-height: 2rem;
}
.sliderInfo{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 4px;
}
.specifications{
    font-size: 36px;
    font-family: Gilroy Light;
}
.legend{
    font-size: 13px;
    font-family: OpenSans Light;
}
.specifications > div,
.legend > div{
    text-align: center;
}
.sliderButtons{
    margin: 40px auto;
}
.slideAside{
    margin-top: 50px;
}
.slider{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    transform: translateY(-20%);
}
.popularImg{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.popularImg > div{
    width: 160px;
    height: 160px;
    background: #f7e296;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popularImg img{
    display: block;
}
.popularDescription{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.popularDescription > p{
    text-align: center;
    width: 160px;
}
.services{
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    background-image: url("../images/services/background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 380px;
}
.servicesMenu{
    border-right: 7px solid black;
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 3px;
    padding-top: 67px;
    flex-basis: 550px;
    height: 80%;
}
.servicesMenu > p{
    padding: 10px 20px;
    color: black;
}
.servicesMenu > p:hover{
    background: black;
    color: #f7e296;
}
.servicesMain{
    padding-left: 150px;
    flex-grow: 1;
}
.activeService{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
    padding-top: 50px;
}
.activeServiceDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    line-height: 2rem;
}
.servicesLogo{
    flex-basis: 500px;
    text-align: center;
    padding-top: 50px;
}
.logotypes,
.infoAndContacts{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.logotypes{
    padding: 50px 0;
}

.info,
.contacts{
    flex-basis: 45%;
    flex-grow: 1;
}
.line{
    width: 80px;
    height: 7px;
    background: #000;
    margin: 30px 0;
}
.infoName,
.contactsName{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
    padding: 20px 0;
}
.infoDescription,
.contactsDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    padding: 20px 0;
}
.infoDescription{
    padding-right: 100px;
}
.map{
    padding-top: 20px;
}
.partners{
    font-family: Gilroy ExtraBold;
    font-size: 15px;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 50px;
}
.partners > li{
    padding: 10px 0;
}
.infoAndContacts a,
.infoAndContacts a:hover{
    text-decoration: none;
    color: black;
}
.infoAndContactsBtn{
    font-family: Gilroy ExtraBold;
    font-size: 18px;
    padding: 50px;
    letter-spacing: 0.3rem;
}
footer{
    background: #464646;
}
.footerFirstRow{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.footerLogo{
    justify-self: flex-start;
    margin-right: auto;
}
.footerMiniMenu{
    flex-basis: 35%;
    display: flex;
    flex-flow: row nowrap;
}
.footerMiniMenuItem,
.footerSecondMenuItem{
    flex-grow: 1;
}
.footerSecondRow{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.footerSecondMenu{
    flex-basis: 35%;
    justify-self: center;
    margin: 0 auto;
    display: flex;
}
