@font-face {
    font-family: OpenSans Light;
    src: url("../fonts/opensanslight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy ExtraBold;
    src: url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy Light;
    src: url("../fonts/gilroylight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    width: 1160px;
    padding: 0;
    margin: 0 auto;
}
header{
    margin: 40px auto 0;
    height: 299px;
    background: #f7e296;
    padding-top: 50px;
}
.topMiniMenu{
    font-size: 15px;
    font-family: OpenSans Light;
    list-style-position: inside;
}
.search{
    list-style-image: url(../icons/searchIcon.png);
}
.user{
    list-style-image: url(../icons/userIcon.png);
}
.compare{
    list-style-image: url(../icons/compareIcon.png);
}
.cart{
    list-style-image: url(../icons/cartIcon.png);
}
.topSecondMenu{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 40px;
}
.slideImage{
    text-align: center;
}
.tagline{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
}
.description{
    font-size: 15px;
    font-family: OpenSans Light;
    margin: 30px auto;
    line-height: 2rem;
}
.info{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 4px;
}
.specifications{
    font-size: 36px;
    font-family: Gilroy Light;
}
.legend{
    font-size: 13px;
    font-family: OpenSans Light;
}
.specifications > div,
.legend > div{
    text-align: center;
}
.sliderButtons{
    margin: 40px auto;
}
.slideAside{
    margin-top: 50px;
}
.slider{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    transform: translateY(-20%);
}
.popularImg{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.popularImg > div{
    width: 160px;
    height: 160px;
    background: #f7e296;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popularImg img{
    display: block;
}
.popularDescription{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.popularDescription > p{
    text-align: center;
    width: 160px;
}
.services{
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    background-image: url("../images/services/background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 380px;
}
.servicesMenu{
    border-right: 7px solid black;
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 3px;
    padding-top: 67px;
    flex-basis: 550px;
    height: 80%;
}
.servicesMenu > p{
    padding: 10px 20px;
    color: black;
}
.servicesMenu > p:hover{
    background: black;
    color: #f7e296;
}
.servicesMain{
    padding-left: 150px;
    flex-grow: 1;
}
.activeService{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
    padding-top: 50px;
}
.activeServiceDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    line-height: 2rem;
}
.servicesLogo{
    flex-basis: 500px;
    text-align: center;
    padding-top: 50px;
}
.logotypes{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}