.slider{
    background-image:
            linear-gradient(
                    to bottom,
                    #f7e296,         /* Start with color of top band  */
                    #f7e296 100px,    /* Top-band color stops at 260px */
                    transparent 100px,    /* Bottom-band color starts at 260px */
                    transparent 100%     /* Bottom-band color continues to 100% i.e. remaining height */
            );
}
.slider__slideImage{
    text-align: center;
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 25%;
    vertical-align: center;
    bottom: 1px;

}
.slider__slideImage > img{
    height: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slider__slideAside__tagline{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
}
.slider__slideAside__slideDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    margin: 30px auto;
    line-height: 2rem;
}
.slider__slideAside__sliderButtons__info > a{
    width: 220px;
}
.slider__slideAside__slideSpecifications{
    font-size: 36px;
    font-family: Gilroy Light;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider__slideAside__slideLegend{
    font-size: 13px;
    font-family: OpenSans Light;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider__slideAside__sliderButtons__indicator > img{
    padding: 0 5px;
}
.slider__slideAside__slideSpecifications > div,
.slider__slideAside__slideLegend > div{
    text-align: left;
    flex-basis: 33%;
    flex-grow: 1;
}
.slider__slideAside__sliderButtons{
    margin: 40px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider__slideAside{
    margin-top: 50px;
    position: absolute;
    right: 50px;
    opacity: 0;
    z-index: 1;
}
.slideActive{
    opacity: 100;
    z-index: 10;
}



