@font-face {
    font-family: OpenSans Light;
    src: url(/fonts/opensanslight.woff?9a0cfeda5ce5de1674106cd0a66ed55e) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy ExtraBold;
    src: url(/fonts/gilroyextrabold.woff?21bab41505b2f5832e5f9fbb038257d0) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy Light;
    src: url(/fonts/gilroylight.woff?1b3910514ea8e7d0f4613cb369002873) format('woff');
    font-weight: normal;
    font-style: normal;
}
/*header,
footer{
    width: 100%;

}
main,
.header,
.footer{
    !*max-width: 1160px;*!
    max-width: 1360px;
    padding: 0;
    margin: 0 auto;
}*/
html{
    max-width: 1360px;
    padding: 0;
    margin: 0 auto;
}
a,
a:hover,
a:active{
    text-decoration: none;
    color: black;
}
button,
submit-button,
a,
.cathegory_show{
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
}
.btn_orange-black{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 4px;
    display: block;
    background-image: url(/images/btnBackground.png?1ef60e76569ee5075b19cd56175958d5);
    background-repeat: repeat-x;
    background-position-y: center;
    text-align: center;
    padding: 7px 0;
}
.btn_orange-black:hover{
    background-repeat: repeat;
}
.btn_orange-black:active{
    color: gray;
}
header{
    margin: 40px auto 0;
    height: 180px;
    background: #f7e296;
    padding-right: 40px;
}
.headerMiniMenu,
.headerSecondMenu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.headerSecondMenuItem{
    position: relative;

}
#submenu{
    position: absolute;
    background: #f7e296;
    top: 20px;
    left: 200px;
    z-index: 100;
    list-style-type: none;
    line-height: 2rem;
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    font-size: 15px;
    font-family: OpenSans Light;
}

.submenu{
    display: none;

}
.submenu_item{
    padding: 0 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 5px;
}


.headerMiniMenu{
    font-size: 15px;
    font-family: OpenSans Light;
    list-style-position: inside;
}
.headerLogo{
    transform: translateY(-50%);
    padding-left: 40px;
}
.headerSearch{
    list-style-image: url(/images/header-search.png?c32f41c50e4f21de3ced6a53c9cfc86b);
    flex-basis: 50%;
}
.headerUser{
    list-style-image: url(/images/header-user.png?ffaef993a2c2ab6369a04384411d364b);
    text-align: center;
    margin: 0 auto;
}
.headerCompare{
    list-style-image: url(/images/header-compare.png?8de36bcdcd1739048e45ce0f0db855b5);
    text-align: center;
    margin: 0 auto;
}
.headerCart{
    list-style-image: url(/images/header-cart.png?5bc682debd7f181ceac5cec28c28761b);
    text-align: center;
    margin: 0 auto;
}
.headerCatalog{
    flex-basis: 50%;
}
.headerSecondMenu{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 40px;
}.logotypes,
.infoAndContacts{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.logotypes{
    padding: 50px 0;
}
.logotype{
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.logotype:hover{
    filter: none;
    -webkit-filter: grayscale(0);
}

.info,
.contacts{
    flex-basis: 45%;
    flex-grow: 1;
}
.line{
    width: 80px;
    height: 7px;
    background: #000;
    margin: 30px 0;
}
.infoName,
.contactsName{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
    padding: 20px 0;
}
.infoDescription,
.contactsDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    padding: 20px 0;
}
.infoDescription{
    padding-right: 100px;
}
.map{
    padding-top: 20px;
}
.partners{
    font-family: Gilroy ExtraBold;
    font-size: 15px;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 50px;
}
.partners > li{
    padding: 10px 0;
}

.infoAndContactsBtn{
    letter-spacing: 0.3rem;
}
.infoAndContactsBtn > a{
    width: 260px;
}

.logotypes,
.infoAndContacts{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.logotypes{
    padding: 50px 0;
}

.info,
.contacts{
    flex-basis: 45%;
    flex-grow: 1;
}
.line{
    width: 80px;
    height: 7px;
    background: #000;
    margin: 30px 0;
}
.infoName,
.contactsName{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
    padding: 20px 0;
}
.infoDescription,
.contactsDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    padding: 20px 0;
}
.infoDescription{
    padding-right: 100px;
}
.map{
    padding-top: 20px;
}
.partners{
    font-family: Gilroy ExtraBold;
    font-size: 15px;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 50px;
}
.partners > li{
    padding: 10px 0;
}

.infoAndContactsBtn{
    font-family: Gilroy ExtraBold;
    font-size: 18px;
    padding: 50px 0;
    letter-spacing: 0.3rem;
}
.infoAndContactsBtn > a{
    background-image: url(/images/btnBackground.png?1ef60e76569ee5075b19cd56175958d5);
    background-repeat: repeat-x;
    background-position-y: center;
    display: block;
    width: 260px;
    text-align: center;
}
.popular__popularImg{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.popular__popularImg > div{
    width: 160px;
    height: 160px;
    background: #f7e296;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular__popularImg img{
    display: block;
}
.popular__popularDescription{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.popular__popularDescription > p{
    text-align: center;
    width: 160px;
}
.services{
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    background-image: url(/images/background.png?6e846d30d7eefd17fd1860c483396f02);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 380px;
}
.servicesMenu{
    border-right: 7px solid black;
    padding-top: 67px;
    flex-basis: 550px;
    height: 80%;
}
.servicesMenu > p{
    /*padding: 10px 20px;*/
    color: black;
}
.servicesMenu > p > a{
    width: 160px;
}
.servicesMenu > p:active{
    background: black;
    color: #f7e296;
}
.servicesMain{
    padding-left: 150px;
    flex-grow: 1;
}
.activeService{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
    padding-top: 50px;
}
.activeServiceDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    line-height: 2rem;
}
.servicesLogo{
    flex-basis: 500px;
    text-align: center;
    padding-top: 50px;
}
.slider{
    background-image:
            linear-gradient(
                    to bottom,
                    #f7e296,         /* Start with color of top band  */
                    #f7e296 100px,    /* Top-band color stops at 260px */
                    transparent 100px,    /* Bottom-band color starts at 260px */
                    transparent 100%     /* Bottom-band color continues to 100% i.e. remaining height */
            );
}
.slider__slideImage{
    text-align: center;
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 25%;
    vertical-align: center;
    bottom: 1px;

}
.slider__slideImage > img{
    height: 100%;
    transform: translateX(-50%);
}
.slider__slideAside__tagline{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
}
.slider__slideAside__slideDescription{
    font-size: 15px;
    font-family: OpenSans Light;
    margin: 30px auto;
    line-height: 2rem;
}
.slider__slideAside__sliderButtons__info > a{
    width: 220px;
}
.slider__slideAside__slideSpecifications{
    font-size: 36px;
    font-family: Gilroy Light;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider__slideAside__slideLegend{
    font-size: 13px;
    font-family: OpenSans Light;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider__slideAside__sliderButtons__indicator > img{
    padding: 0 5px;
}
.slider__slideAside__slideSpecifications > div,
.slider__slideAside__slideLegend > div{
    text-align: left;
    flex-basis: 33%;
    flex-grow: 1;
}
.slider__slideAside__sliderButtons{
    margin: 40px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider__slideAside{
    margin-top: 50px;
    position: absolute;
    right: 50px;
    opacity: 0;
    z-index: 1;
}
.slideActive{
    opacity: 100;
    z-index: 10;
}



.slider-position{
    padding: 0 50px;
    position: relative;
    /*transform: translateY(-20%);*/
    height: 450px;
}
footer{
    background: #464646;
    padding: 40px;
    color: white;
}
.footerMiniMenu{
    font-size: 15px;
    font-family: OpenSans Light;
    list-style-position: inside;
}
.footerUser{
    list-style-image: url(/images/footer-user.png?b90f883be8ed483f96494c013a5f6057);
}
.footerCompare{
    list-style-image: url(/images/footer-compare.png?0aecd24f0446d51127d89e6a8b529924);
}
.footerCart{
    list-style-image: url(/images/footer-cart.png?97635ffbeaa60289ea082042b6b2fcb8);
}
.footerSecondMenu{
    font-size: 18px;
    font-family: Gilroy ExtraBold;
    letter-spacing: 4px;
    list-style-type: none;
    margin-top: 40px;
}
.footerFirstRow{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}
.footerLogo{
    justify-self: flex-start;
    margin-right: auto;
}
.footerMiniMenu{
    flex-basis: 35%;
    display: flex;
    flex-flow: row nowrap;
}
.footerMiniMenuItem{
    text-align: right;
    cursor: pointer;
}
.footerMiniMenuItem,
.footerSecondMenuItem{
    flex-grow: 1;
}
.footerSecondMenuItem,
.socialNetwork > a{
    padding: 0 10px;
}
.footerSecondRow,
.footerThirdRow{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.footerSecondRow{
    margin: 30px 0;
}
.footerSecondMenu{
    flex-basis: 35%;
    justify-self: center;
    margin: 0 auto;
    display: flex;
}
.footerLine{
    width: 80px;
    height: 7px;
    background: #ffc600;
}
section{
    padding: 0 40px;
}
h1{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
}
.way{
    font-family: OpenSans Light;
    font-size: 14px;
}
.stepWay{
    color: grey;
}
.arrowWay{
    color: black;
    font-weight: 900;
}
.catalog{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.control{
    min-width: 250px;
    flex-grow: 1;
    /*padding-right: 70px;*/
}
.visual{
    flex-grow: 1;

}
.control-head,
.visual-head{
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}
.control-head{
    background: #dcdcdc;
    justify-content: center;
}
.visual-head{
    background: #ebebeb;
    justify-content: flex-start;
}
.ordering-arrows{
    order: 999;
    margin-right: 20px;
    margin-left: auto;
}
.control-head-title,
.visual-head-title{
    font-family: Gilroy ExtraBold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    display: inline-block;
    padding: 0 20px;
}
.visual-head-option{
    font-family: OpenSans;
    font-size: 14px;
    line-height: 18px;
    padding: 0 20px;
    opacity: 0.3;
    border: none;
    background: transparent;
}
#sort-cash:hover,
#sort-cash:active,
input[type="button"]{
    border: none;
}
.visual-head-option:hover,
.visual-head-option:active{
    opacity: 1;
}
.down-arrow,
.up-arrow{
    display: inline-block;
    padding: 0 5px;
    border: none;
    background: transparent;
    opacity: 0.5;
}
.down-arrow:hover,
.down-arrow:active,
.up-arrow:hover,
.up-arrow:active {
    opacity: 1;
    border: none;
}
.ordering-active{
    opacity: 1;
}
.input-title{
    font-family: Gilroy ExtraBold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}
.input-value{
    font-family: OpenSans Light;
    font-size: 14px;
}
.products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.card{
    width: 40%;
    flex-shrink: 1;
}
.cardImage img{
    max-width: 100%;
    max-height: 100%;
}
input{
    border: none;
    background: transparent;
}
.input-submit{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.filrt-form{
    line-height: 1.5rem;
}


    /*font-family: Gilroy Light;*/


