body {
	margin: 0;
	background: #57a2f8;
	font-family: "segoe ui light", sans-serif;
	font-size: 32px;
}

.registration {
	width: 500px;
	height: 250px;
	margin: 100px auto 0;
	border: 1px solid #2e75c6#014359;
	border-radius: 20px;
	text-align: center;
	background: #92bef0;
	padding-top: 50px;
	position: relative;
	line-height: 40px;
}

#errorLogin,
#errorPass {
	width: 110px;
	font-size: 16px;
	position: absolute;
	right: 10px;
	background: #1a1c22;
	color: aliceblue;
	padding: 5px;
	border-radius: 5px;
	line-height: 1.5rem;
}

#errorLogin {
	top: 100px;

}

#errorPass {
	top: 185px;

}

#btn {
	display: block;
	margin: 10px auto 0;
	font-size: 32px;
	border-radius: 5px;
	background: #57a2f8;
	color: #030d35;
	border: none;
	padding: 5px;
	outline: none;
}
#btn:hover{
	background: #b769c8;
}

.inActive {
	display: none;
}

#login,
#password {
	width: 250px;
	border: none;
	border-bottom: 2px solid #57a2f8;
	background: #92bef0;
	outline: 0;
	font-size: 32px;
}
