section{
    padding: 0 40px;
}
h1{
    font-size: 47px;
    font-family: Gilroy ExtraBold;
}
.way{
    font-family: OpenSans Light;
    font-size: 14px;
}
.stepWay{
    color: grey;
}
.arrowWay{
    color: black;
    font-weight: 900;
}
.catalog{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}
.control{
    min-width: 250px;
    flex-grow: 1;
    /*padding-right: 70px;*/
}
.visual{
    flex-grow: 1;

}
.control-head,
.visual-head{
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}
.control-head{
    background: #dcdcdc;
    justify-content: center;
}
.visual-head{
    background: #ebebeb;
    justify-content: flex-start;
}
.ordering-arrows{
    order: 999;
    margin-right: 20px;
    margin-left: auto;
}
.control-head-title,
.visual-head-title{
    font-family: Gilroy ExtraBold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    display: inline-block;
    padding: 0 20px;
}
.visual-head-option{
    font-family: OpenSans;
    font-size: 14px;
    line-height: 18px;
    padding: 0 20px;
    opacity: 0.3;
    border: none;
    background: transparent;
}
#sort-cash:hover,
#sort-cash:active,
input[type="button"]{
    border: none;
}
.visual-head-option:hover,
.visual-head-option:active{
    opacity: 1;
}
.down-arrow,
.up-arrow{
    display: inline-block;
    padding: 0 5px;
    border: none;
    background: transparent;
    opacity: 0.5;
}
.down-arrow:hover,
.down-arrow:active,
.up-arrow:hover,
.up-arrow:active {
    opacity: 1;
    border: none;
}
.ordering-active{
    opacity: 1;
}
.input-title{
    font-family: Gilroy ExtraBold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18px;
}
.input-value{
    font-family: OpenSans Light;
    font-size: 14px;
}
.products{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.card{
    width: 40%;
    flex-shrink: 1;
}
.cardImage img{
    max-width: 100%;
    max-height: 100%;
}
input{
    border: none;
    background: transparent;
}
.input-submit{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.filrt-form{
    line-height: 1.5rem;
}


    /*font-family: Gilroy Light;*/
